<%= render 'partial/navbar' %>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">

			<h2>
				機能追加予定
			</h2>

			<div class="kaizen">
				ユーザー様からのご意見を元によりよいものにしていきたいと考えています。些細な事でも構いませんので、追加して欲しい機能や、改善して欲しい箇所をお知らせくださると嬉しいです。
			</div>

			<div class="box">
				<%= link_to '要望はこちらから', contact_path, class: 'youbou' %>
			</div>

			<ul class="add-list">
				<li>実行画面の各アファメーションをスライドショーにする</li>
				<li>達成した目標を別ページにまとめておいて、確認出来るようにする</li>
				<li>達成した目標の中で公開して良いものを公開できるようにして、イイねがもらえるようにする</li>
				<li>専門のコーチがアファメーションの添削をしてくれる</li>
			</ul>


		</div>
	</div>
</div>