<%= render 'partial/navbar' %>


<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">

<h2>使い方</h2>

1.登録がおすみでない方は以下より登録をお済ませください
<%= link_to '登　録', new_user_registration_path %>

2.登録したEmailとパスワードでログインします

3.上部のナビゲーションにある"アファメーションの設定"をクリックして設定画面に移動します

4.アファメーションがでいている方は"アファメーションの実行"をクリックしてアファメーションをしてください。

5.アファメーションを作る場合は"アファメーションを追加"をクリックしてアファンメーションの追加ページに移動します

6.アファメーションの追加ページでアファメーションの文章を入力し、イメージ画像を自分の画像から選び、アファメーションを作成ボタンをクリックします
※画像はなくても大丈夫です。

7.アファメーション設定画面に戻るので、さらにアファメーションを追加する場合は"アファメーションの追加"をクリックしてアファメーションを追加していってください。アファメーションは何個でも追加可能です。

8.アファメーションの追加が終わったら、朝起きてすぐと、夜寝る前にアファメーション実行ボタンをクリックしてアファメーションを実行してください。

【アファメーション実行画面に関して】
アファメーション実行をクリックすると、まずは10秒ほど自己暗示にかかりやすくする動きのあるページとメッセージが表示されます。ぼーっとそのページを眺めた後に自動で設定したアファメーションのページに移動しますので、アファメーションを声に出して読みながら画像を見て達成している自分をイメージしてください。




		</div>
	</div>
</div>