
<script type='text/javascript'>
	$(function(){

		$(window).on('load',function(){
            animation();
               setTimeout(function(){
                window.location.href = "http://affirmationlove.herokuapp.com/users/<%= current_user.id %>";
            },10000);
        });
		function animation(){
			$( '.case-transform' ).addClass( 'by-transform1' ).on( 'animationend', function(){
				$( '.case-transform' ).addClass( 'by-transform2' ).removeClass( 'by-transform1' ).on( 'animationend', function(){
					$( '.case-transform' ).removeClass( 'by-transform2' );
					animation();
				});
			});
		}

	});
</script>

<style>
	body {
  color: #034F1F;
		background-color: #1A3E27;
	}

	p {
		font-size: 18px;
		color: #ffffff;
	}
</style>

<div class="container">
	<div class="row">
			<div class="Codetank-20170108 Codetank__source">
				<div class="case-transform moving-box-lo">
					<div class="moving-box-lo__mod"></div>
				</div>
			</div>

			<ul class="subcon">
				<li>私は目標を達成する！</li>
				<li>私は無限の潜在能力を使っている！</li>
				<li>私は毎日どんどん豊かになっている！</li>	
			</ul>

			<%= link_to 'affirmation', user_path(current_user) %>
	</div>
</div>
